{{- range .Values.storages }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Release.Name }}-{{ include "platform.storage.platformVolumeNameSuffix" .path }}
  labels: {{ include "platform.labels.common" $ | nindent 4 }}
spec:
  capacity:
    storage: {{ .size }}
  accessModes:
  - ReadWriteMany
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  {{- if hasKey . "nfs" }}
  nfs:
    server: {{ .nfs.server }}
    path: {{ .nfs.path }}
    readOnly: false
  {{- else if hasKey . "smb" }}
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: {{ include "platform.smb.volumeHandle" . }}
    volumeAttributes:
      source: //{{ .smb.server }}/{{ .smb.shareName }}
    nodeStageSecretRef:
      name: {{ .smb.secretName }}
      namespace: {{ .smb.secretNamespace | default $.Release.Namespace }}
  mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - vers=3.0
  {{- else if hasKey . "azureFile" }}
  azureFile:
    secretName: {{ .azureFile.secretName }}
    secretNamespace: {{ .azureFile.secretNamespace | default $.Release.Namespace }}
    shareName: {{ .azureFile.shareName }}
    readOnly: false
  mountOptions:
  - mfsymlinks
  {{- end }}
{{- end }}
