nameOverride: platform
fullnameOverride: platform

platform:
  apiUrl: https://api.apolo.us
  authUrl: ""
  ingressAuthUrl: ""
  configUrl: ""
  appsUrl: ""
  adminUrl: ""
  notificationsUrl: ""
  eventsUrl: ""
  clusterName: ""
  clusterDnsName: ""
  token: {}

sentry: {}
  # dsn: ""
  # clusterName: ""
  # sampleRate: 0.1

nodeLabels:
  nodePool: platform.neuromation.io/nodepool
  job: platform.neuromation.io/job
  accelerator: platform.neuromation.io/accelerator
  preemptible: platform.neuromation.io/preemptible

storages: []

defaultStorageClassName: ""

defaultPriorityClassName: ""

defaultIngressClassName: ""

imagePullSecrets: []

argocd:
  project: default
  destination: {}
  syncPolicy:
    automated:
      enabled: true
      prune: false
      selfHeal: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    managedNamespaceMetadata:
      annotations:
        argocd.argoproj.io/sync-options: Delete=false

argocdApplications:
  externalSecrets:
    enabled: true
    repoURL: https://charts.external-secrets.io
    chart: external-secrets
    name: external-secrets
    targetRevision: "0.20.3"
    syncWave: -30
    values: {}

  minio:
    enabled: true
    repoURL: https://neuro-inc.github.io/helm-charts
    chart: minio
    name: minio
    targetRevision: "1.0.0"
    syncWave: -20
    values: {}

  thanos:
    enabled: true
    repoURL: https://neuro-inc.github.io/helm-charts
    chart: thanos
    name: thanos
    targetRevision: "0.3.23"
    syncWave: -10
    values: {}

  kubePrometheusStack:
    enabled: true
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    name: prometheus
    targetRevision: "54.2.2"
    syncWave: -9
    values: {}

  traefik:
    enabled: true
    repoURL: https://helm.traefik.io/traefik
    chart: traefik
    name: traefik
    targetRevision: "25.0.0"
    syncWave: -5
    values: {}

  dockerRegistry:
    enabled: true
    repoURL: https://neuro-inc.github.io/helm-charts
    chart: docker-registry
    name: docker-registry
    targetRevision: "1.0.0"
    values: {}

  loki:
    enabled: true
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    name: loki
    targetRevision: "6.29.0"
    values: {}

  alloy:
    enabled: true
    repoURL: https://grafana.github.io/helm-charts
    chart: alloy
    name: alloy
    targetRevision: "1.0.1"
    values: {}

  grafana:
    enabled: true
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    name: grafana
    targetRevision: "7.0.11"
    values: {}

  keda:
    enabled: true
    repoURL: https://kedacore.github.io/charts
    chart: keda
    name: keda
    targetRevision: "2.16.1"
    syncWave: -1
    values: {}

  kedaAddOnsHttp:
    enabled: true
    repoURL: https://kedacore.github.io/charts
    chart: keda-add-ons-http
    name: keda-add-ons-http
    targetRevision: "0.10.0"
    values: {}

  sparkOperator:
    enabled: true
    repoURL: https://kubeflow.github.io/spark-operator
    chart: spark-operator
    name: spark-operator
    targetRevision: "2.1.0"
    values: {}

  postgresOperator:
    enabled: true
    repoURL: ghcr.io/neuro-inc/app-crunchy-postgres
    chart: pgo
    name: postgres-operator
    targetRevision: "5.8.3"
    values: {}

  platformCommon:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts/platform-compute
    chart: platform-common
    name: platform-common
    releaseName: platform
    syncWave: -40
    values: {}

  platformVolumes:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts/platform-compute
    chart: platform-volumes
    name: platform-volumes
    releaseName: platform
    syncWave: -1
    values: {}

  platformAdjustInotify:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts/platform-compute
    chart: platform-adjust-inotify
    name: platform-adjust-inotify
    releaseName: platform
    values: {}

  platformExternalSecrets:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts/platform-compute
    chart: platform-external-secrets
    name: platform-external-secrets
    releaseName: platform
    syncWave: -29
    values: {}

  platformIngress:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts/platform-compute
    chart: platform-ingress
    name: platform-ingress
    releaseName: platform
    values: {}

  platformStorage:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-storage
    name: platform-storage
    targetRevision: "*"
    values: {}

  platformRegistry:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-registry
    name: platform-registry
    targetRevision: "*"
    values: {}

  platformMonitoring:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-monitoring
    name: platform-monitoring
    targetRevision: "*"
    values: {}

  platformContainerRuntime:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-container-runtime
    name: platform-container-runtime
    targetRevision: "*"
    values: {}

  platformSecrets:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-secrets
    name: platform-secrets
    targetRevision: "*"
    values: {}

  platformReports:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-reports
    name: platform-reports
    targetRevision: "*"
    values: {}

  platformDisks:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-disks
    name: platform-disks
    targetRevision: "*"
    values: {}

  platformApiPoller:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-api-poller
    name: platform-api-poller
    targetRevision: "*"
    values: {}

  platformBuckets:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    name: platform-buckets
    chart: platform-buckets
    targetRevision: "*"
    values: {}

  platformMetadata:
    enabled: true
    repoURL: ghcr.io/neuro-inc/helm-charts
    chart: platform-metadata
    name: platform-metadata
    targetRevision: "*"
    values: {}
