{{- define "platform.argocd.applications.externalSecrets.values" -}}
installCRDs: true
replicaCount: 1
podLabels:
  service: external-secrets
  platform.apolo.us/component: external-secrets
{{- with .Values.priorityClassName }}
priorityClassName: {{ . }}
{{- end }}
{{- end }}

{{- if .Values.applications.externalSecrets.enabled }}
{{- $cfg := deepCopy .Values.applications.externalSecrets -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.externalSecrets.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
