{{- define "platform.argocd.applications.loki.values" -}}
global:
  dnsService: "kube-dns"
deploymentMode: SimpleScalable
loki:
  commonConfig:
    replication_factor: 1
  auth_enabled: false
  pattern_ingester:
    enabled: true
  ingester:
    chunk_encoding: snappy
  querier:
    max_concurrent: 8
  query_range:
    align_queries_with_step: true
  frontend:
    log_queries_longer_than: 5s
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 90d
    split_queries_by_interval: 1h
test:
  enabled: false
lokiCanary:
  enabled: false
resultsCache:
  allocatedMemory: 512
chunksCache:
  allocatedMemory: 2048
tableManager:
  retention_deletes_enabled: true
  retention_period: 2160h
minio:
  enabled: false
gateway:
  replicas: 1
  resources:
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 100m
  podLabels:
    service: loki-gateway
write:
  replicas: 1
  resources:
    requests:
      memory: 2Gi
      cpu: "1"
    limits:
      memory: 2Gi
      cpu: "1"
  podLabels:
    service: loki-write
read:
  replicas: 1
  resources:
    requests:
      memory: 2Gi
      cpu: "1"
    limits:
      memory: 2Gi
      cpu: "1"
  podLabels:
    service: loki-read
backend:
  replicas: 1
  resources:
    requests:
      memory: 2Gi
      cpu: "1"
    limits:
      memory: 2Gi
      cpu: "1"
  podLabels:
    service: loki-backend
extraObjects: []
{{- end }}

{{- if .Values.applications.loki.enabled }}
{{- $cfg := deepCopy .Values.applications.loki -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.loki.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
