{{- define "platform.argocd.applications.platformMetadata.values" -}}
{{- $platformUrls := include "platform.urls" . | fromYaml -}}
image:
  repository: ghcr.io/neuro-inc/platform-metadata
securityContext:
  enabled: true
platform:
  appsUrl: {{ get $platformUrls "appsUrl" }}
  token:
    {{- include "platform.token" . | nindent 4 }}
{{- with .Values.priorityClassName }}
priorityClassName: {{ . }}
{{- end }}
{{- with .Values.sentry }}
sentry:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}

{{- if .Values.applications.platformMetadata.enabled }}
{{- $cfg := deepCopy .Values.applications.platformMetadata -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.platformMetadata.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
