{{- define "platform.argocd.applications.postgresOperator.values" -}}
instances:
  - name: pgo
    replicas: 1
disableAutofail: false
{{- end -}}

{{- if .Values.applications.postgresOperator.enabled }}
{{- $cfg := deepCopy .Values.applications.postgresOperator -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.postgresOperator.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
