{{- define "platform.argocd.applications.thanos.values" -}}
image:
  repository: ghcr.io/neuro-inc/thanos
  tag: v0.24.0
store:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  dataVolume:
    backend:
      persistentVolumeClaim:
        claimName: thanos-store
  persistentVolumeClaim:
    name: thanos-store
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi
      {{- with .Values.defaultStorageClassName }}
      storageClassName: {{ . | quote }}
      {{- end }}
  labels:
    service: thanos-store
compact:
  retentionResolutionRaw: 0d
  retentionResolution5m: 0d
  retentionResolution1h: 0d
  extraArgs:
    - --wait-interval=24h
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  dataVolume:
    backend:
      persistentVolumeClaim:
        claimName: thanos-compact
  persistentVolumeClaim:
    name: thanos-compact
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 15Gi
      {{- with .Values.defaultStorageClassName }}
      storageClassName: {{ . | quote }}
      {{- end }}
  labels:
    service: thanos-compact
query:
  labels:
    service: thanos-query
bucket:
  labels:
    service: thanos-bucket
rule:
  enabled: false
sidecar:
  enabled: true
  selector:
    app: null
    app.kubernetes.io/name: prometheus
priorityClassName: {{ include "platform.priorityClassName" . }}
{{- end }}

{{- if .Values.applications.thanos.enabled }}
{{- $cfg := deepCopy .Values.applications.thanos -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.thanos.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
