
{{- define "platform.alertmanager.config" -}}
{{- $platformUrls := include "platform.urls" . | fromYaml -}}
{{- $notificationsUrl := get $platformUrls "notificationsUrl" -}}
{{- $secretName := dig "valueFrom" "secretKeyRef" "name" "" (include "platform.token" . | fromYaml) -}}
{{- if not $secretName -}}
{{- fail "platform token secret is required" -}}
{{- end -}}
receivers:
- name: ignore
- name: platform-notifications
  webhook_configs:
  - http_config:
      authorization:
        credentials_file: /etc/alertmanager/secrets/{{ $secretName }}/token
        type: Bearer
    url: {{ $notificationsUrl }}/api/v1/notifications/alert-manager-notification
route:
  group_by:
  - alertname
  group_interval: 5m
  group_wait: 30s
  receiver: platform-notifications
  repeat_interval: 4h
  routes:
  - continue: false
    matchers:
    - exported_service="default-backend@kubernetes"
    receiver: ignore
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-alertmanager-config
  labels:
    {{- include "platform.labels.standard" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
type: Opaque
data:
  alertmanager.yaml: {{ include "platform.alertmanager.config" . | b64enc | quote }}
