{{- if .Values.externalSecretsEnabled }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ .Release.Name }}-secret-store
  labels: {{ include "platform.labels.standard" . | nindent 4 }}
spec:
  provider:
    vault:
      {{- with .Values.clusterSecretStore.vault }}
      server: {{ .server }}
      path: {{ .path }}
      version: {{ .version }}
      auth: {{ .auth | toYaml | nindent 8 }}
      {{- end }}
{{- end }}
