{{- if .Values.applications.externalSecrets.enabled }}
{{- $syncWave := add1 (int (required "applications.externalSecrets.syncWave is required" .Values.applications.externalSecrets.syncWave)) -}}
{{- $vault := .Values.clusterSecretStore.vault -}}
{{- if not $vault }}
{{- fail "vault config is required" -}}
{{- end }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ .Release.Name }}-vault-secret-store
  labels:
    {{- include "platform.labels.standard" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ $syncWave | quote }}
spec:
  provider:
    vault:
      {{- with $vault }}
      server: {{ required "vault.server is required" .server }}
      path: {{ required "vault.path is required" .path }}
      version: {{ default "v2" .version }}
      auth: {{ required "vault.auth is required" .auth | toYaml | nindent 8 }}
      {{- end }}
{{- end }}
