{{- define "platform.argocd.applications.keda.values" -}}
operator:
  replicaCount: 1
{{- end -}}

{{- if .Values.argocdApplications.keda.enabled }}
{{- $cfg := deepCopy .Values.argocdApplications.keda -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.keda.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
