{{- define "platform.argocd.applications.platformIngress.values" -}}
{{- $clusterDnsName := include "platform.clusterDnsName" . -}}
{{- $platformUrls := include "platform.urls" . | fromYaml -}}
{{- $ingressAuthUrl := urlParse (get $platformUrls "ingressAuthUrl") -}}
{{- $ingressAuthHost := $ingressAuthUrl.host -}}
{{- with .Values.defaultIngressClassName }}
defaultClassName: {{ . }}
{{- end }}
clusterDnsName: {{ $clusterDnsName }}
ingressAuthHost: {{ $ingressAuthHost }}
{{- end }}

{{- if .Values.argocdApplications.platformIngress.enabled }}
{{- $cfg := deepCopy .Values.argocdApplications.platformIngress -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "targetRevision" .Chart.Version -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.platformIngress.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
