{{- define "platform.argocd.applications.platformApiPoller.values" -}}
{{- $platformUrls := include "platform.urls" . | fromYaml -}}
image:
  repository: ghcr.io/neuro-inc/platformapi
platform:
  clusterName: {{ include "platform.clusterName" . }}
  authUrl: {{ get $platformUrls "authUrl" }}
  configUrl: {{ get $platformUrls "configUrl" }}
  adminUrl: {{ printf "%s/apis/admin/v1" (get $platformUrls "adminUrl") }}
  apiUrl: {{ printf "%s/api/v1" (get $platformUrls "apiUrl") }}
  eventsUrl: {{ get $platformUrls "eventsUrl" }}
  registryUrl: {{ include "platform.registryUrl" . }}
  token:
    {{- include "platform.token" . | nindent 4 }}
jobs:
  namespace: platform-jobs
  ingressClass: {{ .Values.defaultIngressClassName }}
  ingressAuthMiddleware: {{ printf "%s-%s-ingress-auth@kubernetescrd" .Release.Namespace .Release.Name }}
  ingressErrorPageMiddleware: {{ printf "%s-%s-error-page@kubernetescrd" .Release.Namespace .Release.Name }}
  ingressOAuthAuthorizeUrl: {{ printf "%s/oauth/authorize" (get $platformUrls "ingressAuthUrl") }}
nodeLabels:
  job: {{ .Values.nodeLabels.job }}
  nodePool: {{ .Values.nodeLabels.nodePool }}
  preemptible: {{ .Values.nodeLabels.preemptible }}
{{- if .Values.storages }}
storages:
{{- range .Values.storages }}
  - type: pvc
    path: {{ .path | quote }}
    claimName: {{ printf "%s-%s" $.Release.Name (include "platform.storage.claimNameSuffix" .path) | quote }}
{{- end }}
{{- end }}
ingress:
  enabled: true
  {{- with .Values.defaultIngressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  hosts:
  - {{ include "platform.clusterDnsName" . }}
priorityClassName: {{ include "platform.priorityClassName" . }}
{{- with .Values.sentry }}
sentry:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}

{{- if .Values.argocdApplications.platformApiPoller.enabled }}
{{- $cfg := deepCopy .Values.argocdApplications.platformApiPoller -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.platformApiPoller.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
