{{- define "platform.argocd.applications.platformContainerRuntime.values" -}}
image:
  repository: ghcr.io/neuro-inc/platformcontainerruntime
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: {{ .Values.nodeLabels.job }}
          operator: Exists
priorityClassName: {{ include "platform.priorityClassName" . }}
{{- with .Values.sentry }}
sentry:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}

{{- if .Values.argocdApplications.platformContainerRuntime.enabled }}
{{- $cfg := deepCopy .Values.argocdApplications.platformContainerRuntime -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.platformContainerRuntime.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
