{{- define "platform.argocd.applications.traefik.values" -}}
{{- $platformNamespace := include "platform.argocd.destination.namespace" . -}}
image:
  name: ghcr.io/neuro-inc/traefik
deployment:
  {{- with .Values.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    service: traefik
    platform.apolo.us/component: ingress-gateway
  podLabels:
    service: traefik
    platform.apolo.us/component: ingress-gateway
additionalArguments:
  - --entryPoints.websecure.proxyProtocol.insecure=true
  - --entryPoints.websecure.forwardedHeaders.insecure=true
  - --entryPoints.websecure.http.middlewares={{ printf "%s-%s-cors@kubernetescrd" $platformNamespace .Release.Name }}
  - --providers.kubernetesingress.ingressendpoint.ip=1.2.3.4
instanceLabelOverride: {{ .Release.Name }}
resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "1000m"
    memory: "512Mi"
ports:
  web:
    redirectTo:
      port: websecure
  websecure:
    tls:
      enabled: true
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      # published service conflicts with ingressendpoint.ip argument
      enabled: false
ingressRoute:
  dashboard:
    enabled: false
logs:
  general:
    level: ERROR
metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      jobLabel: app.kubernetes.io/name
      additionalLabels:
        platform.apolo.us/scrape-metrics: "true"
ingressClass:
  enabled: true
priorityClassName: {{ include "platform.priorityClassName" . }}
{{- end }}

{{- if .Values.argocdApplications.traefik.enabled }}
{{- $cfg := deepCopy .Values.argocdApplications.traefik -}}
{{- $_ := set $cfg "root" . -}}
{{- $_ := set $cfg "defaultValues" (include "platform.argocd.applications.traefik.values" . | fromYaml) -}}
{{- include "platform.argocd.application" $cfg }}
{{- end }}
