{{- $vault := .Values.clusterSecretStore.vault -}}
{{- if not $vault }}
{{- fail "vault config is required" -}}
{{- end }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ .Release.Name }}-vault
  labels:
    {{- include "platform.labels.common" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: '-1'
spec:
  provider:
    vault:
      {{- with $vault }}
      server: {{ required "vault.server is required" .server }}
      path: {{ required "vault.path is required" .path }}
      version: {{ default "v2" .version }}
      auth: {{ required "vault.auth is required" .auth | toYaml | nindent 8 }}
      {{- end }}
